*{
	margin: 0;
	padding: 0;
}
.header{
	background-color:#0066B4;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 35px;
}
a{
	text-decoration: none;
}
.header ul li{
	list-style: none;
	display: inline-block;
	margin: 0px 15px;

}
.header ul li a{
	color:white;
	font-size:20px;
}
.header ul li a:hover{
	color:orange;
}
.newsletter{
	background-color:#EBEDEF;
	padding-top:50px;
	padding-bottom:50px;
	text-align: center;
}
.container{
	width: 1140px;
	margin: auto;

}
.container p{
	padding-top: 20px;
	padding-bottom: 25px;
}
.input-1{
	width: 25%;
	padding:18px;
}
.input-2{
	width: 30%;
	padding:18px;
}
.input-3{
	width: 12%;
	padding:18px;
	background-color: black;
	color:white;
	border: none;
}
.letstalk{
	background-color:#C7CBD1;
	padding-top: 20px;
	text-align: center;
	padding-bottom: 60px;

}
.container-1{
	width: 1140PX;
}
.letstalk h1{
	padding-bottom: 12px;
}
.letstalk p{
	padding-bottom: 12px;
}
.input-4{
	padding-right: 185px;
	width: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.input-5{
	padding-right: 185px;
	width: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.personal{
	padding-top: 8px;
}
.input-6{
	padding-right: 185px;
	width: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.input-7{
	padding-right: 185px;
	width: 20%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.input-8{
	margin-top: 5px;
	width: 50%;
	padding-right: 263px;
	padding-bottom: 55px;
}	